/* CSS */
/* Main Theme */
#header
{
    background-color: #7da0b3 ;
    margin: 0px 0px;
}
#content{
    background-color: #9cb3bd  ;
    padding: 15px 10px;
}
body{
    overflow-x: hidden;
}
#footer{
    text-align: center;
    background-color: #7da0b3;
}
#registerbtn
{
    margin: 0px 0px 15px 0px;
    padding: 2px 25px 2px 25px;
    background-color: #DDBEA7;
    color: black;
    border-radius: 12px;
    border: 0px;
}

#registerbtn:hover
{
    background-color: #9cb3bd;
}

button
{
    float: right;
}

#fixedreg
{
    max-width: 360px;
    margin: 0 0% 15px 0;
    padding: 5px 25px 5px 25px;
    background-color: #E8DFD6;
    box-shadow: 0px 5px 2px 5px #2f505f ;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 40px;
}
/* homepage */
#winner
{
    padding:20px;
}
#Entries 
{
    background-color: #E8DFD6;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px 0px 15px 0px;
}

.clients { margin-bottom: 15px; }

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  margin: 0;
  padding:0px 150px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.clients-item {
  scroll-snap-align: start;
  transition: 0.2s;
  margin: 0px 5px;
}

.clients-item img {
  width: 12vw;
  filter: saturate(0.9);
  transition: 0.2s;
}

.clients-item img:hover { width: 17vw; margin-bottom: 20px;}

.clients-item:hover { margin-right: 30px;}

li.clients-item::marker { display: none; color: transparent;}

.has-scrollbar::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
background: #e8dfd677;
border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
background: #7da0b3;
border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

#solo-form, #team-form {
    background-color: #E8DFD6;
    border-radius: 10px;
    padding: 10px 30px 0px 30px;
    margin: 30px;
}

#team-form{
    padding-top: 20px;
    padding-left: 10px;
}

#solo-form Table tr td, #team-form Table tr td{
    padding: 5px 15px;
}

#solo-form div input[type="text"], #team-form div input[type="text"], td input[type="text"], input[type="password"]{
    width: 230px;
    height: 20px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 0px;
    background-color: #DDBEA7;
}

#solo-form Table tr td input[type="radio"]{
    accent-color: #DDBEA7;
}

#audiodiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}
.contentleft
{
background-color: #DDBEA7;
padding: 15px;
}
.contentright
{
    padding: 15px;
    background-color: #E8DFD6;
}

#page-scroll-links li a{
    /* remove underline */
    text-decoration: none;
    color: #00446A;
    font-weight: bold;
}

#archives-navbar{
    background-color: #DDBEA7!important;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;  
    padding-left: 30px;
}

#Archives{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ArchivesTitle{
    margin: 0px 0px 15px 20px;
}


#searchtextbar{
    height: 30px;
    padding: 0px 10px;
    margin-right: 20px;
    border-radius: 15px;
    border: 0px;
    background-color: #E8DFD6;
}

#archives-content{
    background-color: #E8DFD6;
    padding: 10px 12px;
    margin: 10px 0px 15px 0px;
}

#archives-content #content-row{
    background-color: #DDBEA7;
    align-items: center;
    padding: 10px 10px;
}
#forumstable
{
    border: 3px solid black;
}


#forumstable td, th
{
    padding: 20px;
    border: 2px dotted black;
}
.forumlink
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.forumlink:hover
{
    color:#E8DFD6;
}

#login-body{
    height: 100vh;
    display: grid;
    /* padding-top: 100px; */
    justify-items: stretch;
    align-content: center;
}

#login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#headerrow{
    background-color: #E8DFD6;
}

#contentrow{
    background-color: #DDBEA7;
}

#forums-navbar {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DDBEA7!important;
}

#forum-navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 30px;
}

#forum-navbar-links a {
    text-decoration: underline;
    color: #00446A;
    font-weight: bold;
}
/* Resources */
.Rmenubar
{
    background-color: #E8DFD6;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;


}
#content .subcontent .Rmenubar{
    margin-left: 0px!important;
    margin-right: 0px;
}
.subcontent
{
    margin: 30px;
    padding: 40px;
}
.tagremoval
{
    text-decoration: none;
}
.tagremoval:hover
{
    color:#DDBEA7;
}
/* workshop */
.Rigs, .winner, .workshop, .course
{
    background-color: #DDBEA7;
}

/* FAQ */
#faq
{
    background-color: #E8DFD6;
    border-top-right-radius: 50px;
}




@media screen and (max-width: 900px) {
    .col-4{
        width: 100%!important;
    }
    #audiodiv{
        margin-top: 10px;
    }
}